VITE_CHAIN_ID=11155111
VITE_SEPOLIA_RPC_URL=
VITE_EXPLORER_BASE_URL=https://sepolia.etherscan.io
VITE_ZAMA_RELAYER_URL=
VITE_ROUND_DURATION_SECONDS=604800
VITE_ROUND_START_TIMESTAMP=
VITE_VEILPOOL_ADDRESS=
VITE_CONFIDENTIAL_TOKEN_ADDRESS=
VITE_UNDERLYING_TOKEN_ADDRESS=
VITE_PRIZE_ENGINE_ADDRESS=
VITE_YIELD_ADAPTER_ADDRESS=
VITE_OPERATOR_ADDRESS=
